In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

supermarket = pd.read_csv('combined_nairobi_supermarkets.csv')
supermarket.head()

,constituency,ward,clat,clon,place_id,place_name,place_lat,place_long,place_type
0,Westlands,Kitisuru,-1.239554,36.783965,5026c28bda9d16005b6ac12adb1bab6025cd4134,Chandarana Foodplus Supermarkets (ABC Place Br...,-1.259836,36.777153,supermarket
1,Westlands,Kitisuru,-1.239554,36.783965,d679fdd073c8af3d9f2dfdd7d74dfa29ab52de04,Tuskys Supermarket (Chap Chap Thigiri),-1.236355,36.792972,supermarket
2,Westlands,Kitisuru,-1.239554,36.783965,8d3e688d2cdaec507b3f4d30b63d2d22d1f188f4,Rivermatt SUPERMARKET,-1.220685,36.778485,supermarket
3,Westlands,Kitisuru,-1.239554,36.783965,881a6f71f63e75a0c9234181aea4456ec41c90c3,Alpha Developers Ltd,-1.255190,36.796655,supermarket
4,Westlands,Kitisuru,-1.239554,36.783965,a459264a8143bf6c6750890fee23cc8e9eee6aa4,House Of Leather & Gifts Lifestyle,-1.261351,36.803827,supermarket

In [2]:
from haversine import haversine, Unit

from sklearn.neighbors import DistanceMetric
from math import radians
import pandas as pd
import numpy as np

from sklearn.neighbors import DistanceMetric
from math import radians

In [3]:
import numpy as np
 
def haversine_vectorize(lon1, lat1, lon2, lat2):
 
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])
 
    newlon = lon2 - lon1
    newlat = lat2 - lat1
 
    haver_formula = np.sin(newlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(newlon/2.0)**2
 
    dist = 2 * np.arcsin(np.sqrt(haver_formula ))
    km = 6367 * dist #6367 for distance in KM for miles use 3958
    return km

In [4]:
haversine_vectorize(supermarket['clon'],supermarket['clat'],supermarket['place_long'],
                   supermarket['place_lat'])

0       2.377491
1       1.062007
2       2.183449
3       2.237552
4       3.276614
          ...
9309    1.910338
9310    1.913072
9311    1.917331
9312    1.917858
9313    1.918311
Length: 9314, dtype: float64

In [5]:
supermarket['distance_km']=haversine_vectorize(supermarket['clon'],supermarket['clat'],supermarket['place_long'],supermarket['place_lat'])

In [6]:
supermarket.head()

,constituency,ward,clat,clon,place_id,place_name,place_lat,place_long,place_type,distance_km
0,Westlands,Kitisuru,-1.239554,36.783965,5026c28bda9d16005b6ac12adb1bab6025cd4134,Chandarana Foodplus Supermarkets (ABC Place Br...,-1.259836,36.777153,supermarket,2.377491
1,Westlands,Kitisuru,-1.239554,36.783965,d679fdd073c8af3d9f2dfdd7d74dfa29ab52de04,Tuskys Supermarket (Chap Chap Thigiri),-1.236355,36.792972,supermarket,1.062007
2,Westlands,Kitisuru,-1.239554,36.783965,8d3e688d2cdaec507b3f4d30b63d2d22d1f188f4,Rivermatt SUPERMARKET,-1.220685,36.778485,supermarket,2.183449
3,Westlands,Kitisuru,-1.239554,36.783965,881a6f71f63e75a0c9234181aea4456ec41c90c3,Alpha Developers Ltd,-1.255190,36.796655,supermarket,2.237552
4,Westlands,Kitisuru,-1.239554,36.783965,a459264a8143bf6c6750890fee23cc8e9eee6aa4,House Of Leather & Gifts Lifestyle,-1.261351,36.803827,supermarket,3.276614

In [7]:
duplicateRowsDF = supermarket[supermarket.duplicated()]
 
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

Duplicate Rows except first occurrence based on all columns are :
     constituency      ward      clat       clon  \
20      Westlands  Kitisuru -1.239554  36.783965
21      Westlands  Kitisuru -1.239554  36.783965
22      Westlands  Kitisuru -1.239554  36.783965
23      Westlands  Kitisuru -1.239554  36.783965
24      Westlands  Kitisuru -1.239554  36.783965
...           ...       ...       ...        ...
9289      Mathare  Kiamaiko -1.253778  36.875732
9290      Mathare  Kiamaiko -1.253778  36.875732
9291      Mathare  Kiamaiko -1.253778  36.875732
9292      Mathare  Kiamaiko -1.253778  36.875732
9293      Mathare  Kiamaiko -1.253778  36.875732

                                      place_id  \
20    5026c28bda9d16005b6ac12adb1bab6025cd4134
21    d679fdd073c8af3d9f2dfdd7d74dfa29ab52de04
22    8d3e688d2cdaec507b3f4d30b63d2d22d1f188f4
23    881a6f71f63e75a0c9234181aea4456ec41c90c3
24    a459264a8143bf6c6750890fee23cc8e9eee6aa4
...                                        ...
9289  61992d39313bcfdc2fe89b87cd66a5e1294e6a08
9290  9f4e0e8bf3fdb471f7e722e0cfa7dc45a7d06de4
9291  25b6ed022499d2b0aafe6f992a893e603b0d2d66
9292  590eb5a49fae2a94914c5d04f9ff6b1a0e01d6be
9293  b764f2fb1eb56cba8c6aa2bb726f4ea86abc8e4d

                                             place_name  place_lat  \
20    Chandarana Foodplus Supermarkets (ABC Place Br...  -1.259836
21               Tuskys Supermarket (Chap Chap Thigiri)  -1.236355
22                                Rivermatt SUPERMARKET  -1.220685
23                                 Alpha Developers Ltd  -1.255190
24                   House Of Leather & Gifts Lifestyle  -1.261351
...                                                 ...        ...
9289                                Economy Supermarket  -1.257761
9290                                 Manstrays Supermkt  -1.259477
9291                               Raphaels Supermakets  -1.262098
9292                                                KMA  -1.262511
9293                                   Hay Masters Pork  -1.252791

      place_long   place_type  distance_km
20     36.777153  supermarket     2.377491
21     36.792972  supermarket     1.062007
22     36.778485  supermarket     2.183449
23     36.796655  supermarket     2.237552
24     36.803827  supermarket     3.276614
...          ...          ...          ...
9289   36.868004  supermarket     0.966053
9290   36.868877  supermarket     0.990606
9291   36.879692  supermarket     1.023911
9292   36.879067  supermarket     1.038759
9293   36.865490  supermarket     1.143228

[4620 rows x 10 columns]

In [8]:
duplicateRowsDF = supermarket[supermarket.duplicated(['place_id'])]
 
print("Duplicate Rows based on a single column are:", duplicateRowsDF, sep='\n')

Duplicate Rows based on a single column are:
     constituency      ward      clat       clon  \
20      Westlands  Kitisuru -1.239554  36.783965
21      Westlands  Kitisuru -1.239554  36.783965
22      Westlands  Kitisuru -1.239554  36.783965
23      Westlands  Kitisuru -1.239554  36.783965
24      Westlands  Kitisuru -1.239554  36.783965
...           ...       ...       ...        ...
9309      Mathare  Kiamaiko -1.253778  36.875732
9310      Mathare  Kiamaiko -1.253778  36.875732
9311      Mathare  Kiamaiko -1.253778  36.875732
9312      Mathare  Kiamaiko -1.253778  36.875732
9313      Mathare  Kiamaiko -1.253778  36.875732

                                      place_id  \
20    5026c28bda9d16005b6ac12adb1bab6025cd4134
21    d679fdd073c8af3d9f2dfdd7d74dfa29ab52de04
22    8d3e688d2cdaec507b3f4d30b63d2d22d1f188f4
23    881a6f71f63e75a0c9234181aea4456ec41c90c3
24    a459264a8143bf6c6750890fee23cc8e9eee6aa4
...                                        ...
9309  3b983597eedcf0da58f4511b1a6961a4e42f8a16
9310  5d764446416e9748355ba3e7ade5283b79ce11e6
9311  cc414db2c5a45bd6f212950443eb21916d4d56ad
9312  057d039ab64dc2e113f4b45ba90f7999aa4fca87
9313  3b4b51016bc1d97826a301fc3d6910d22370aa4b

                                             place_name  place_lat  \
20    Chandarana Foodplus Supermarkets (ABC Place Br...  -1.259836
21               Tuskys Supermarket (Chap Chap Thigiri)  -1.236355
22                                Rivermatt SUPERMARKET  -1.220685
23                                 Alpha Developers Ltd  -1.255190
24                   House Of Leather & Gifts Lifestyle  -1.261351
...                                                 ...        ...
9309                                Petcays Supermarket  -1.267712
9310                                       Super Market  -1.267737
9311                                  Mweru Supermarket  -1.254716
9312    Southend Grocers Ltd - Kariobangi South Nairobi  -1.269357
9313                               Southend Grocers Ltd  -1.269362

      place_long   place_type  distance_km
20     36.777153  supermarket     2.377491
21     36.792972  supermarket     1.062007
22     36.778485  supermarket     2.183449
23     36.796655  supermarket     2.237552
24     36.803827  supermarket     3.276614
...          ...          ...          ...
9309   36.885803  supermarket     1.910338
9310   36.885811  supermarket     1.913072
9311   36.892965  supermarket     1.917331
9312   36.883160  supermarket     1.917858
9313   36.883159  supermarket     1.918311

[8390 rows x 10 columns]

In [9]:
ids = supermarket["place_id"]
supermarket[ids.isin(ids[ids.duplicated()])].sort_values("place_id")

,constituency,ward,clat,clon,place_id,place_name,place_lat,place_long,place_type,distance_km
2225,Kibra,Lindi,-1.315162,36.792841,002b4742b72602c8c837473ad4b463e90fb44f83,Uchumi Ngong Hyper,-1.300117,36.790512,supermarket,1.691737
2447,Kibra,Woodley,-1.305657,36.776005,002b4742b72602c8c837473ad4b463e90fb44f83,Uchumi Ngong Hyper,-1.300117,36.790512,supermarket,1.725256
2532,Kibra,Sarangombe,-1.312267,36.777459,002b4742b72602c8c837473ad4b463e90fb44f83,Uchumi Ngong Hyper,-1.300117,36.790512,supermarket,1.981334
2329,Kibra,Makina,-1.308546,36.786524,002b4742b72602c8c837473ad4b463e90fb44f83,Uchumi Ngong Hyper,-1.300117,36.790512,supermarket,1.036122
2289,Kibra,Makina,-1.308546,36.786524,002b4742b72602c8c837473ad4b463e90fb44f83,Uchumi Ngong Hyper,-1.300117,36.790512,supermarket,1.036122
...,...,...,...,...,...,...,...,...,...,...
6453,Embakasi East,Mihango,-1.269282,36.952991,ff6395b569a8b99e3f3f1c72ef2727fc3ac80ca9,Jah Bless Kuku Farm,-1.280824,36.966072,supermarket,1.938376
3668,Kasarani,Njiru,-1.253902,36.934330,fffc745ee5ab33b683d0d920f1f6170bd6015572,Wanjimatt Supermarket,-1.249524,36.954346,supermarket,2.276401
6478,Embakasi East,Mihango,-1.269282,36.952991,fffc745ee5ab33b683d0d920f1f6170bd6015572,Wanjimatt Supermarket,-1.249524,36.954346,supermarket,2.200782
6518,Embakasi East,Mihango,-1.269282,36.952991,fffc745ee5ab33b683d0d920f1f6170bd6015572,Wanjimatt Supermarket,-1.249524,36.954346,supermarket,2.200782
3735,Kasarani,Ruai,-1.267734,36.991111,fffc745ee5ab33b683d0d920f1f6170bd6015572,Wanjimatt Supermarket,-1.249524,36.954346,supermarket,4.558321

### Drop Duplicates in a group but keep the row with minimum value
We will keep the row with minimum aged person in each zone. So we will sort the rows by Age first in descending order and then drop the duplicates in Zone column and set the Keep parameter to Last.   
df.sort_values('Age',ascending=False).drop_duplicates('Zone',keep='last')



### Drop Duplicates in a group but keep the row with maximum value
We will keep the row with maximum aged person in each zone. So we will sort the rows by Age first in ascending order and then drop the duplicates in Zone column and set the Keep parameter to Last.    
df.sort_values('Age',ascending=True).drop_duplicates('Zone',keep='last')

In [10]:
supermarket_df =supermarket.sort_values('distance_km',ascending=False).drop_duplicates('place_id',keep='last')

In [11]:
#df = pd.DataFrame({'Name' : ['John','Harry','Gary','Richard','Anna','Richard','Gary'], 'Age' : [25,32,37,43,44,56,37],  'Zone' : ['East','West','North','South','East','West','North']})

In [12]:
#df

In [13]:
#df.sort_values('Age',ascending=True).drop_duplicates('Zone',keep='last')

In [14]:
supermarket_df.to_csv(r'supermarket.csv', index = False)